
.animated { transition: height 600ms; }

.image-button {
    display: flex;
    flex: 1;
    position: relative;
    max-height: 100%;
    max-width: inherit;
    margin: 0;
    padding: 0;
    border: none;
}

.image-button img {
    position: absolute;
    right: 0;
    max-height: inherit;
    max-width: inherit;
    image-rendering: -webkit-optimize-contrast;
}

.image-button .ib-hov
{
    opacity: 0;
    transition: 600ms;
}

.image-button .ib-hov:hover {
    opacity: 1;
    transition: 600ms;
}

.border-overlay {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border: 1px solid var(--accent-1);
}